.report-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.report-card {
  position: relative;
  top: 250px;
  margin-bottom: 250px;
  background-color: rgba(40, 44, 53, 0.678);
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  max-width: 760px;
  min-width: 760px;
}
.report-title {
  color: var(--text-color);
  padding-top: 10px;
  padding-bottom: 5px;
}
.report-description {
  color: rgba(255, 255, 255, 0.568);
}
.report-devider {
  background: #e4e1e134;
  margin-top: 15px;
  margin-bottom: 25px;
  height: 1px;
  width: 100%;
}
.report-id-box {
  display: flex;
}
.report-id-box p {
  color: var(--text-color);
}

.report-id-field {
  margin-right: 12px;
  background: #24272d;
  outline: none;
  border: 1px solid rgb(59, 59, 59);
  padding: 5px;
  color: var(--text-color);
  font-size: 15px;
  position: relative;
  bottom: 3px;
  color: #ff3366;
}
.report-content {
  padding-left: 26px;
  padding-right: 26px;
}
.report-header {
  color: var(--text-color);
  padding-top: 20px;
  text-align: left;
  padding-bottom: 15px;
}

.report-check {
  text-align: left;
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.568);
}
.report-checkbox {
  margin-right: 10px;
  background: #24272d;
  border: 1px solid rgb(59, 59, 59);
  min-width: 25px;
  max-height: 25px;
  text-align: center;
  color: var(--text-color);
}
.report-checkbox:hover {
  cursor: pointer;
}
.report-checkbox.checked {
  background: #e7509ec2;
  border: 1px solid #e7509ec2;
}

.report-reason {
    max-width: 700px;
    word-wrap: break-word;
}

.report-textarea {
  max-width: 700px;
  min-width: 700px;
  min-height: 120px;
  background: #24272d;
  outline: none;
  border: 1px solid rgb(59, 59, 59);
  padding: 5px;
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 20px;
  resize: none;
  word-wrap: break-word;
}

@media screen and (max-width: 545px){
    .report-id-box {
        flex-direction: column-reverse;
    }
    .report-id-field {
        top: 10px;
    }
}

/*@media screen and (max-width: 513px){
    .report-check {
        display: flex;
        flex-direction: column-reverse;
    } 
    .report-checkbox {
        margin-top: 5px;
    }
}*/

.submit {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    background: none;
    background: #24272d;
    border: 1px solid rgb(59, 59, 59);
    color: var(--text-color);
    outline: none;
    font-size: 20.7px;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    left: -10px;
}
.cancel {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 20.7px;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    left: -10px;
    background: #f5365c;
}

.submit:hover, .cancel:hover {
    cursor: pointer;
}

.submit-container {
    display: flex;
    justify-content: left;
}



@media screen and (max-width: 799px){
    .report-card {
        min-width: 90%;
        max-width: 95%;
    }
    .report-textarea {
        max-width: 99%;
        min-width: 99%;
    }
}
