.review-info-container {
  padding-top: 20px;
  color: var(--text-color);
}

.review-title {
  color: var(--text-color);
  padding-bottom: 20px;
}

.review-box {
  max-width: 80%;
  min-width: 100%;
  min-height: 25px;
  height: auto;
  background: #24272d;
  outline: none;
  border: 1px solid rgb(59, 59, 59);
  padding: 5px;
  padding-bottom: 5px;
  color: var(--text-color);
  font-size: 15px;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;
}

.review-box p {
  word-wrap: break-word;
}

.review-info-box {
  max-width: 80%;
  min-width: 100%;
  min-height: 25px;

  background: #24272d;
  outline: none;
  border: 1px solid rgb(59, 59, 59);
  padding: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.red {
  color: #ff3366;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 15%;
}

.dark {
  filter: brightness(80%);
}

.review-buttons button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  padding-left: 20px;
  outline: none;
  border: none;
  font-size: 20.7px;
  border-radius: 3px;
  margin-left: 10px;
}

.accept-button {
  background: #202c44;
  color: var(--text-color);
}

.decline-button {
  background: #f5365c;
  color: var(--text-color);
}
