nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
  }
  
  .nav-bar {
    background-color: rgba(47, 53, 65, 0.911);
    min-width: 60%;
    max-height: 70px;
    min-height: 70px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    overflow-y: hidden;
  }
  
  .nav-bar ul {
    list-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    max-width: 40%;
    position: relative;
    left: 50%;
    top: 25px;
  }
  
  .nav-bar ul li {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 1rem;
    font-weight: bold;
  }
  
  .logo {
    position: absolute;
    max-width: 50px;
    top: 10px;
    left: 20px;
    border-radius: 5px;
    z-index: 10;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1400px) {
    .nav-bar ul {
      max-width: 70%;
      left: 20%;
    }
  }
  
  @media screen and (max-width: 888px) {
    .nav-bar {
        min-width: 90%;
    }
    
    .nav-bar.open {
      min-height: 180px;
      min-width: 90%;
      transition: all 0.3s ease-in-out;
    }
  
    .burger {
      position: absolute;
      display: block;
      z-index: 50;
      opacity: 1;
      top: 35px;
      left: 80%; /* position the left edge of the element at the middle of the parent */
  
      transform: translate(-50%, -50%);
    }
  
    .burger div {
      min-width: 40px;
      min-height: 4px;
      background: #fff;
      border-radius: 4px;
      transition: all 0.3s ease;
    }
  
    .line3 {
      position: relative;
      top: 5px;
    }
  
    .line1 {
      position: relative;
      bottom: 5px;
    }
  
    .nav-bar ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 0px;
      position: relative;
      top: 75px;
      left: 60px;
    }
  }
  
  @media screen and (max-width: 528px) {
    .nav-bar ul {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      position: initial;
      margin-left: 15%;
    }
  
    .nav-bar.open {
      min-height: 280px;
      transition: all 0.3s ease-in-out;
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .top {
      margin-top: 200px;
  }

  .logo:hover {
      transition: all 0.3s ease;
      transform: scale(1.07);
      cursor: pointer;
  }