li {
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
}

.application-bar {
    padding-top: 10px;
    padding-left: 10px;
    background: rgba(55, 65, 83, 0.171);
    margin-bottom: 10px;
    border-radius: 3px;
}

.application-bar:hover {
    cursor: pointer;
}

.application-list {
    margin-top: 100px;
    margin: 100px auto 0;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    /*margin-left: 200px;
    margin-right: 200px;*/
    padding-bottom: 330px;
}

.name-tag, .type-tag, .date-tag {
    font-weight: bold;
}

.app-tags {
    background-color: rgba(47, 53, 65, 0.479);
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
}