li {
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
}

.application-bar {
    padding-top: 10px;
    padding-left: 10px;
    background:  rgba(37, 40, 48, 0.486);
    border-bottom: 2px solid rgb(38, 41, 53);
}

.application-bar:hover {
    cursor: pointer;
}

.application-list {
    margin-top: 100px;
    margin: 100px auto 0;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    /*margin-left: 200px;
    margin-right: 200px;*/
    padding-bottom: 330px;
}

.name-tag, .type-tag, .date-tag {
    font-weight: bold;
}

.app-tags {
    background: #222329;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}