.panel-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eef1f5;
    margin-bottom: 100px;
}

.panel-user-box {
    display: flex;
    padding: 10px;
    background-color: rgba(47, 53, 65, 0.479);
    border: 1px solid rgba(255, 255, 255, 0.041);
    min-width: 55%;
    max-width: 90%;
    border-radius: 5px;
}

.colum {
    display: flex;
}

.panel-flex {
    margin-left: 20px;
    margin-top: 20px;
}

.panel-flex h3 {
    font-weight: 450;
}

.panel-user-box img {
    border-radius: 5px;
    max-height: 100px;
    width: auto;
    transition: all ease 0.3s;
}

.panel-user-box img:hover {
    transition: all ease 0.3s;
    transform: scale(1.05);
}

.panel-flex p {
    color: rgba(233, 233, 233, 0.507);
    font-size: 14px;
}

.panel-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
    color: #eef1f5;
    gap: 15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-info-box{
    background-color: rgba(47, 53, 65, 0.479);
    border: 1px solid rgba(255, 255, 255, 0.041);
    min-width: 350px;
    padding: 10px;
    border-radius: 5px;
}

.warn-li {
    display: flex;
    flex-direction: column;
}

.warn-li span {
    padding-bottom: 5px;
    text-align: left;
}

.warn-li a {
    color: #0075d5;
}

.warn-li a:hover {
    cursor: pointer;
}

.warn-title {
    margin-bottom: 15px;
}

@media screen and (max-width: 590px) {
    .panel-flex {
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .colum {
        display: flex;
        flex-direction: column;
    }
}

.punishment-container {
    padding-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.punish-reason {
    min-width: 20%;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(47, 53, 65, 0.479);
    border: 1px solid rgba(255, 255, 255, 0.041);
    color: var(--text-color);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
}
.punish-time {
    min-width: 7%;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(47, 53, 65, 0.479);
    border: 1px solid rgba(255, 255, 255, 0.041);
    color: var(--text-color);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
    border-radius: 4px;
    margin-left: 20px;
}

.punish-button {
    height: 45px;
    min-width: 80px;
    border-radius: 5px;
    background-color: rgb(40, 45, 56);
    border: 1px solid rgba(255, 255, 255, 0.041);
    color: var(--text-color);
    padding: 10px;
    transition: all ease 0.3s;
}
.punish-button:hover {
    transition: all ease 0.3s;
    transform: scale(1.07);
    cursor: pointer;
}

.punish-select {
    height: 45px;
    min-width: 140px;
    border-radius: 5px;
    background-color: rgb(40, 45, 56);
    border: 1px solid rgba(255, 255, 255, 0.041);
    color: var(--text-color);
    padding: 10px;
    transition: all ease 0.3s;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
    font-size: 16px;
}

.select-container {
    position: relative;
}

.punish-arrow{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #3b3c47bd;
    height: 100%;
    width: 3rem;
    pointer-events: none;
    border-radius: 0px 5px 5px 0px;
}

.punish-arrow::after,
.punish-arrow::before {
    --size: 0.5em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    transform: translate(-50%, -50%);
}
.punish-arrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
    top: 30%;
}
.punish-arrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255, 255, 255, 0.5);
    top: 60%;
}

@media screen and (max-width: 730px) {
    .panel-info-container {
        grid-template-columns: 1fr;
    }

    .panel-info-box {
        width: 100%;
    }

    .punishment-container {
        flex-direction: column;
    }

    .punish-button, .punish-time, .punish-reason, .select-container {
        min-width: 80%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .punish-time {
        margin-left: 0px;
    }
    .punish-select {
        min-width: 100%;
    }
}