* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --text-color: #eef1f5;
  --backgroud-color: #1d1e22;
}

body {
  background-color: var(--backgroud-color);
  overflow-x: hidden;
}

.login-btn, .discord_btn:hover {
  cursor: pointer;
  background: #4965c9;
}
.login-btn, .discord_btn:focus {
  outline: none;
}

.login-btn, .discord_btn {
  color: var(--text-color);
  background: #7289da;
  border-radius: 4px;
  border: none;
  font-size: 30px;
  font-weight: 600;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: scale(0.8);
  transition: ease-out 0.5s;
}

.login-btn-logo {
  color: var(--text-color);
  font-weight: 1;
  font-size: 2.6rem;
  padding-left: 5px;
  position: relative;
  top: 2px;
}

.login-btn {
  word-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-btn:hover {
    background: #4965c9;
}

.nav {
  background: #1d1e22;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-cont a {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 1rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  min-width: 60vh;
}

/* Effect for the li antag */

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.nav ul li:nth-last-child(1) {
  animation-delay: 0s;
}

.nav ul li:nth-last-child(2) {
  animation-delay: 0.5s;
}

.nav ul li:nth-last-child(3) {
  animation-delay: 1s;
}

.nav ul li:nth-last-child(4) {
  animation-delay: 1.5s;
}


.nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

.nav ul li a:last-child() {
  margin-right: 0;
}

.nav ul li a::before,
.nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

.nav ul li .aa::before,
.nav ul li .aa::after {
  background-color: #00c1d5;
}

.nav ul li .ab::before,
.nav ul li .ab::after {
  background-color: #ffbb1c;
}

.nav ul li .ac::before,
.nav ul li .ac::after {
  background-color: #e7509e;
}

.nav ul li .ad::before,
.nav ul li .ad::after {
  background-color: #ffffff;
}

.nav ul li a::before {
  top: 0;
  transform-origin: left;
}

.nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.nav ul li a:hover::before,
.nav ul li a:hover::after {
  transform: scaleX(1);
}

.nav ul li a:hover {
  cursor: pointer;
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 2px;
}

@media screen and (max-width: 805px) {
  body {
    overflow-x: hidden;
  }

  .login-btn {
    margin-right: -60px;
  }

  .burger {
    display: block;
    position: absolute;
    padding-left: 10px;
    top: 40px;
    cursor: pointer;
    z-index: 999;
  }

  .nav-links a {
    opacity: 0;
    z-index: 3;
  }

  .nav-links {
    background: #0d0d0ee8;
    position: absolute;
    top: -45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    min-width: 30%;
    height: 44%;
    padding-right: 40px;
    padding-bottom: 90px;
    border-radius: 0px 0px 5px 0px;
    transition: all ease-in-out 1s;
    z-index: 3;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(50px);
    }
  }
}



.nav-active {
transition: all ease-in-out 1s;
  transform: translateY(95%);
  display: flex;
}

/* About section */

.discord-container {
  max-width: 950px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-top: 250px;
  position: absolute;
}

.discord {
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--text-color);
  background: #222329;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.discord h3 {
  padding-top: 5px;
}

.discord p {
  padding-top: 2px;
  padding-bottom: 10px;
  max-width: 450px;
}

.discord_btn {
  margin-top: 20px;
}

.s1 {
  color: #00c1d5;
}

.s2 {
  color: #ffbb1c;
}

.s3 {
  color: #e7509e;
}

.s4 {
  color: #fff;
}

/*Card Section*/

.bold {
  font-weight: bold;
}

.space {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.card{
  color: var(--text-color);
  background: #191a1f;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}

.discord-container1 {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  padding-left: 800px;
  padding-top: 200px;
}

.card p {
  max-width: 400px;
  padding-bottom: 15px;
}

.card-img {
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(70%);
  -webkit-box-shadow: 0px 16px 30px -14px #000000;
  box-shadow: 0px 16px 30px -14px #000000;
  transition: all ease-in-out 0.5s;
}

.card:hover {
  transform: scale(1.04);
  transition: all ease-in-out 0.5s;
  background: #222329;
}

.card:hover > .card-img {
  filter: brightness(100%);
  transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 1670px) {
    .space {
        padding-left: 0px;
    }

    .discord-container {
        max-width: 100%;
        position: relative;
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }

    .discord {
        max-width: 600px;
    }

    .discord p {
        max-width: 100%;
    }

    .discord-container1 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 997px) {
    body {
        overflow: auto;
    }

    .discord-container {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
    }

    .discord {
        max-width: 80%;
    }

    .discord p {
        max-width: 2000px;
    }

    .discord-container1 {
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        max-width: 100%;
    }

    .space {
        padding-left: 0;
        padding-bottom: 25px;
    }

    .card {
        max-width: 80%;
    }

    .card img {
        max-width: 90%;
        height: auto;
    }
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
 }
 ::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #222329 14%,#222329 100%);
  border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #222329 14%,#222329 64%);
 }
 ::-webkit-scrollbar-track{
  background: #1d1e22;
  border-radius: 10px;
  /*box-shadow: inset 7px 10px 12px #1d1e22;*/
 }
 
 

