* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.applications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.applications{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1500px;
  box-sizing: border-box;
  padding: 10px;
  margin: 100px auto 0;
  margin-bottom: 230px;
  max-width: 85%;
}

.app-top {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1500px;
  bottom: -120px;
  box-sizing: border-box;
  padding: 10px;
  margin: 100px auto 0;
  max-width: 85%;
}

.app-top li {
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(47, 53, 65, 0.479);
  padding: 15px 20px;
  margin: 10px 0;
  transition: all 0.3s ease;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.349);
}

.applications li {
  display: flex;
  background: rgba(55, 65, 83, 0.171);
  padding: 10px 20px;
  margin: 5px 0;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.applications li:hover {
  cursor: pointer;
}

.applications button:hover {
  cursor: pointer;
}

.applications li span:nth-child(1) {
  width: 200px;
  text-align: left;
}

.app-top li span:nth-child(1) {
  position: relative;
  left: -20px;
}
.app-top li span:nth-child(2) {
  position: relative;
  left: 25px;
}


.app-name {
  text-transform: uppercase;
  font-weight: bold;
}

.app-open:hover {
    cursor: pointer;
}

.app-closed:hover{
  cursor: not-allowed;
}

.app-bottom{
  display: flex;
}

.open-btn {
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  background: #b0eed3;
  color: #1aae6f;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 12.7px;
  border-radius: 7px;
  margin-left: 10px;
}

.closed-btn {
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  background: #ee6c6c;
  color: #971a15;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 12.7px;
  border-radius: 7px;
  margin-left: 10px;
}

.app-bottom :is(.closed-btn, .open-btn):hover {
  cursor: pointer;
}