.app-desc-box a {
  color: #0075d5;
}

.app-desc-box {
  color: var(--text-color);
  background: #222329;
  padding: 20px;
  /*box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);*/
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
}

.app-desc-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  margin-bottom: 50px;
}

.app-desc-box p {
  font-size: 20px;
  max-width: 1000px;
}

.app-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 200px;
  grid-gap: 20px;
  justify-items: center;
  max-width: 95%;
  padding-left: 25px;
}

.app-list {
  background: #222329;
  color: var(--text-color);
  margin-top: 25px;
  padding: 10px;
  max-width: 400px;
  /*box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);*/
  border-radius: 5px;
}

.app-list p {
  max-width: 393px;
}

.role-spacing{
    padding-top: 20px;
    display: flex;
    justify-content: baseline;

}

@media screen and (max-width: 1034px) {
    .app-list-container {
        grid-template-columns: 1fr 1fr;
    }

    .app-list p {
        max-width: 95%;
    }
}

@media screen and (max-width: 508px) {
  .app-list-container {
    grid-template-columns: 1fr;
  }
}

.app-open{
  border-radius: 15px;
  border: 1px solid #27f550;
  color: #27f550;
  background: none;
  margin: 2.5px;
  padding-bottom: 2px;
  padding-top: 0px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 17px;
  position: relative;
}

.app-closed {
    border-radius: 15px;
    border: 1px solid #ff2d26;
    color: #ff2d26;
    background: none;
    margin: 2.5px;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 17px;
}

.app-open:hover {
    cursor: pointer;
}

.app-closed:hover{
  cursor: not-allowed;
}

.app-bottom{
  display: flex;
}

.open-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  padding-left: 20px;
  background: #1cef5b;
  color: #1d1e22;
  outline: none;
  border: none;
  font-size: 20.7px;
  border-radius: 3px;
  margin-left: 10px;
}

.closed-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f5365c;
  color: #1d1e22;
  outline: none;
  border: none;
  font-size: 20.7px;
  border-radius: 3px;
  margin-left: 10px;
}

.app-bottom :is(.closed-btn, .open-btn):hover {
  cursor: pointer;
}