.app-desc-box a {
  color: #0075d5;
}

.app-desc-box {
  color: var(--text-color);
  background: #222329;
  padding: 20px;
  box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  margin-left: 25px;
  margin-right: 25px;
}

.app-desc-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.app-desc-box p {
  font-size: 15px;
  max-width: 1000px;
}

.app-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.app-list {
  background: #222329;
  color: var(--text-color);
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  min-height: 100%;
  box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 43px -7px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}

.app-list p {
  max-width: 293px;
}

.staff-team {
    border-radius: 15px;
    border: 1px solid #88f1ee;
    padding: 1px;
    color: #88f1ee;
    margin: 2.5px;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .support-team {
    border-radius: 15px;
    border: 1px solid #ff58b2;
    padding: 1px;
    color: #ff58b2;
    margin: 2.5px;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
    
  }
  
  .development-team {
    border-radius: 15px;
    border: 1px solid #3d7eb1;
    padding: 1px;
    color: #3d7eb1;
    margin: 2.5px;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
    
  }

.role-spacing{
    padding-top: 20px;
    display: flex;
    justify-content: baseline;

}

@media screen and (max-width: 1034px) {
    .app-list-container {
        flex-direction: column;
    }

    .app-list p {
        max-width: 95%;
    }
}